<h1>Voice Transcription</h1>

<div data-controller="transcription">
  <button data-action="click->transcription#start" id="start-btn">Start Recording</button>
  <button data-action="click->transcription#stop" id="stop-btn">Stop Recording</button>
</div>


<% if @transcriptions.any? %>
  <ul>
    <% @transcriptions.each do |t| %>
      <li>
        <%= link_to "Audio ##{t.id} - Uploaded at #{t.created_at.strftime("%d %b %Y %H:%M")}", summary_path(t) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No recordings yet.</p>
<% end %>